.pc {
  display: block;
}

.sp {
  display: none;
}

div.left-top-templete {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
div.left-top-templete img {
  max-width: 150px;
}

div.left-bottom-templete {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
div.left-bottom-templete img {
  max-width: 150px;
}

div.right-top-templete {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
div.right-top-templete img {
  max-width: 150px;
}

div.right-bottom-templete {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
div.right-bottom-templete img {
  max-width: 150px;
}

@font-face {
  font-family: 'NxieOne';
  src: url('../fonts/NixieOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'VarelaRound';
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}

div.content {
  font-family: VarelaRound,NxieOne,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: #617a86;
  text-align: center;
  position:relative;
}

div.content h1 {
  font-family: NxieOne,VarelaRound,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 94px;
  font-weight: normal;
  padding-top: 100px;
  z-index: 100;
}

div.content-top-img {
  margin-top: 100px;
  z-index: 100;
}
div.content-top-img img {
  width: 900px;
}

div.content-top-text-wrap {
  margin-top: 80px;
  font-size: 24px;
  z-index: 100;
}

div.try-nft {
  margin-top: 100px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  z-index: 1;
  position: relative;
  font-size: 42px;
  font-family: NxieOne,VarelaRound,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

div.try-nft-text {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
}

div.try-nft-img img {
  display: block;
  width: 100%;
  height: auto;
}

div.nft-possibilities {
  z-index: 100;
  margin: 80px 0 auto;
}

div.nft-possibilities-title {
  font-size: 42px;
}

div.nft-possibilities-text-box {
  width: 900px;
  margin: 0 auto;
}

div.nft-possibilities-text-wrapp {
  width: 80%;
  margin: 0 auto;
}

div.nft-possibilities-text {
  font-size: 18px;
  text-align: left;
}

div.nft-possibilities-img {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

div.nft-possibilities-img-left {
  width: 67%;
}

div.nft-possibilities-img-left img {
  width: 100%;
}

div.nft-possibilities-img-right {
  width: 33%;
  text-align: left;
  font-size: 15px;
  margin: auto;
}

div.deliver-talent {
  margin: 140px 100px 0 100px;
  z-index: 1;
  position: relative;
  font-size: 36px;
  font-weight: 600;
  font-family: NxieOne,VarelaRound,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

div.deliver-talent-text {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
}

div.deliver-talent-img img {
  display: block;
  width: 100%;
  height: auto;
}

div.scheme {
  z-index: 100;
  margin-top: 120px;
  font-weight: 600;
}

div.scheme-title {
  font-size: 42px;
}

div.scheme-text-box {
  width: 900px;
  margin: 0 auto;
}

div.scheme-text {
  font-size: 22px;
  text-align: left;
  width: 100%;
}

div.scheme-img {
  margin-top: 80px;
  z-index: 100;
}
div.scheme-img img {
  width: 100%;
}

div.merit {
  z-index: 100;
  margin-top: 120px;
  font-weight: 600;
}

div.merit-title {
  font-size: 42px;
}

div.merit-top-text p.blue-heading {
  font-size: 36px;
  color: #4169E1;
  margin: 50px 0 0 0;
}

div.merit-top-text p {
  font-size: 24px;
  margin: 10px 0 0 0;
}

div.merit-img img {
  width: 900px;
}

div.merit-bottom-text p.red-heading {
  font-size: 36px;
  color: #E43E50;
  margin: 50px 0 0 0;
}

div.merit-bottom-text p {
  font-size: 24px;
  margin: 10px 0 0 0;
}

div.member {
  z-index: 100;
  margin-top: 160px;
  font-weight: 600;
}

div.member-title {
  font-size: 42px;
  font-family: NxieOne,VarelaRound,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

div.member-profiles {
  display: flex;
  margin: 10px 150px;
}

div.member-profiles div.profile {
  width: 25%;
  margin: 20px;
}

div.member-profiles div.profile img {
  width: 100%;
}

div.member-profiles div.profile p.name {
  font-size: 24px;
  color: #000;
  margin-bottom: 4px;
}

div.member-profiles div.profile p.position, div.member-profiles div.profile p.description {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

div.member-text {
  margin-top: 30px;
}
div.member-text p {
  font-size: 24px;
  margin: 0.5em;
}

div.soon {
  margin: 100px 0;
}
